# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=app.settings.production
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_ADMIN_URL=
DJANGO_ALLOWED_HOSTS={{ web_server_domain_name }}

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN={{ sentry_dsn }}