# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST={{ postgresql_host }}
POSTGRES_PORT=5432
POSTGRES_DB={{ postgresql_db_name }}
POSTGRES_USER={{ postgresql_user_name }}
POSTGRES_PASSWORD={{ postgresql_user_password }}
