server {

  listen {{ elasticsearch_port }};
  server_name {{ web_server_domain_name }};

  location / {
    limit_except HEAD {
      auth_basic "Restricted";
      auth_basic_user_file  /etc/nginx/passwdfile;
    }
    proxy_pass http://127.0.0.1:9200;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location /_aliases {
    auth_basic "Restricted";
    auth_basic_user_file  /etc/nginx/passwdfile;
    proxy_pass http://127.0.0.1:9200;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  include /etc/nginx/auth/*.conf;
}

server {
  listen {{ kibana_port }};
  server_name {{ web_server_domain_name }};

  location / {
    limit_except HEAD {
      auth_basic "Restricted";
      auth_basic_user_file  /etc/nginx/passwdfile;
    }
    proxy_pass http://127.0.0.1:5601;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location /_aliases {
    auth_basic "Restricted";
    auth_basic_user_file  /etc/nginx/passwdfile;
    proxy_pass http://127.0.0.1:5601;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  include /etc/nginx/auth/*.conf;
}